body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f3f3f3;
}

/* ----- TÍTULO ----- */
header {
    text-align: center;
    padding: 25px;
    background: white;
    box-shadow: 0 0 15px #ddd;
}

.titulo {
    font-size: 45px;
    font-weight: bold;
    color: #ff7b00;
    letter-spacing: 3px;
    margin: 0;
}

.sub {
    margin: 5px 0 0 0;
    color: #777;
    font-size: 18px;
}

/* ----- MENÚ PRINCIPAL ----- */
.menu {
    background: #333;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.menu ul li a:hover {
    background: #ff7b00;
}

/* ----- SUBMENÚ ----- */
.submenu:hover .submenu-items {
    display: block;
}

.submenu-items {
    display: none;
    position: absolute;
    background: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
    top: 50px;
    z-index: 1000;
}

.submenu-items li a {
    padding: 12px 18px;
    font-size: 16px;
}

.submenu-items li a:hover {
    background: #ff7b00;
}

/* ----- CONTENIDO ----- */
.contenido {
    padding: 40px;
    text-align: center;
}

.contenido h2 {
    font-size: 30px;
}

